$blue: #1e3352;
$radius: 5px;

$rock: #db3b55;
$paper: #5871F0;
$scissors: #eca71e;
$lizard: #67db69;
$spock: #e364e8;

$color-lists: ("rock": $rock, "paper": $paper, "scissors": $scissors, "lizard": $lizard, "spock": $spock)